<main [ngClass]="{}">
	<div class="main">
		<div class="header__text-box">
			<span class="header__heading--primary">{{ 'MAIN.MAIN-HEADING' | translate }}</span>
			<span class="header__heading--secondary">{{ 'MAIN.SECONDARY-HEADING' | translate }}</span>
			<span class="header__heading--third">{{ 'MAIN.THIRD-HEADING' | translate }}</span>
		</div>
	</div>

	<app-about></app-about>

	<app-technologies></app-technologies>

	<app-advantages></app-advantages>

	<section class="our-advantages container">
		<div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-forthly">
				{{ 'OUR_ADVANTAGES.TITLE' | translate }}
			</h2>
			<h4 class="heading-smaller">
				{{ 'OUR_ADVANTAGES.WHY_WE' | translate }}
			</h4>
		</div>

		<div class="main-points">
			<app-advantage-point *ngFor="let adv of OUR_ADVANTAGES" [advantage]="adv"></app-advantage-point>
		</div>
	</section>

	<section class="our-projects">
		<div class="main-advertisment">
			<div class="main-advertisment__background">
				<div class="main-advertisment__background--title">
					<h2 class="main-advertisment__background--title--text">
						{{ 'MAIN-ADVERTISMENT.TITLE' | translate }}
					</h2>
					<a (click)="goToProjectsPage()" class="btn btn--white-second btn--white btn--size-small btn--hidden btn-margin">
						{{ 'COMMON.DETAILS' | translate }}
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="our-partners container" id="partners">
		<div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-forthly">наши партнёры</h2>
		</div>
		<div class="partners">
			<div class="partners__logo">
				<img alt="Maria_Adv" src="/assets/img/mariat_adv.jpg" width="220" />
			</div>
			<div class="partners__description">
				<p class="partners__description--title">АН "Мариэлт"</p>
				<p class="partners__description--text">
					Оказывает поддержку в решении вопросов, касающихся:
				</p>
				<ul>
					<li>купли-продажи</li>
					<li>обмена</li>
					<li>аренды</li>
					<li>оценки недвижимости</li>
					<br />
					<p class="partners__description--text">Ссылка на сайт: <a href="http://marielt.by/">marielt.by</a></p>
				</ul>
			</div>
		</div>
	</section>
	<section class="our-contacts container" id="contacts">
		<div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-forthly">наши контакты</h2>
		</div>
		<div class="contacts">
			<p class="contacts--text"><a href="tel:+375445303376">+375 (44) 530-33-76</a></p>

			<p class="contacts--text"><a href="mailto:goldkedr2019@yandex.by">goldkedr2019@yandex.by</a></p>
		</div>
		<div class="contacts__socials">
			<h4 class="contacts__socials--title">Социальные сети:</h4>
			<div class="contacts__socials__links">
				<div class="contacts__socials__links--item">
					<a href="https://vk.com/public181292536" target="_blank">
						<svg
							class="t-sociallinks__svg"
							enable-background="new 0 0 48 48"
							height="48px"
							id="Layer_1"
							version="1.1"
							viewBox="0 0 48 48"
							width="48px"
							x="0px"
							xml:space="preserve"
							xmlns="http://www.w3.org/2000/svg"
							y="0px"
						>
							<desc>VK</desc>
							<path
								d="M47.761,24c0,13.121-10.639,23.76-23.76,23.76C10.878,47.76,0.239,37.121,0.239,24c0-13.123,10.639-23.76,23.762-23.76C37.122,0.24,47.761,10.877,47.761,24 M35.259,28.999c-2.621-2.433-2.271-2.041,0.89-6.25c1.923-2.562,2.696-4.126,2.45-4.796c-0.227-0.639-1.64-0.469-1.64-0.469l-4.71,0.029c0,0-0.351-0.048-0.609,0.106c-0.249,0.151-0.414,0.505-0.414,0.505s-0.742,1.982-1.734,3.669c-2.094,3.559-2.935,3.747-3.277,3.524c-0.796-0.516-0.597-2.068-0.597-3.171c0-3.449,0.522-4.887-1.02-5.259c-0.511-0.124-0.887-0.205-2.195-0.219c-1.678-0.016-3.101,0.007-3.904,0.398c-0.536,0.263-0.949,0.847-0.697,0.88c0.31,0.041,1.016,0.192,1.388,0.699c0.484,0.656,0.464,2.131,0.464,2.131s0.282,4.056-0.646,4.561c-0.632,0.347-1.503-0.36-3.37-3.588c-0.958-1.652-1.68-3.481-1.68-3.481s-0.14-0.344-0.392-0.527c-0.299-0.222-0.722-0.298-0.722-0.298l-4.469,0.018c0,0-0.674-0.003-0.919,0.289c-0.219,0.259-0.018,0.752-0.018,0.752s3.499,8.104,7.573,12.23c3.638,3.784,7.764,3.36,7.764,3.36h1.867c0,0,0.566,0.113,0.854-0.189c0.265-0.288,0.256-0.646,0.256-0.646s-0.034-2.512,1.129-2.883c1.15-0.36,2.624,2.429,4.188,3.497c1.182,0.812,2.079,0.633,2.079,0.633l4.181-0.056c0,0,2.186-0.136,1.149-1.858C38.281,32.451,37.763,31.321,35.259,28.999"
								style="fill:#000000;"
							></path>
						</svg>
					</a>
				</div>
				<div class="contacts__socials__links--item">
					<a href="https://www.instagram.com/goldkedr/?hl=ru" target="_blank">
						<svg
							class="t-sociallinks__svg"
							height="48px"
							id="Layer_1"
							version="1.1"
							viewBox="0 0 30 30"
							width="48px"
							xml:space="preserve"
							xmlns="http://www.w3.org/2000/svg"
						>
							<desc>Instagram</desc>
							<path
								d="M15,11.014 C12.801,11.014 11.015,12.797 11.015,15 C11.015,17.202 12.802,18.987 15,18.987 C17.199,18.987 18.987,17.202 18.987,15 C18.987,12.797 17.199,11.014 15,11.014 L15,11.014 Z M15,17.606 C13.556,17.606 12.393,16.439 12.393,15 C12.393,13.561 13.556,12.394 15,12.394 C16.429,12.394 17.607,13.561 17.607,15 C17.607,16.439 16.444,17.606 15,17.606 L15,17.606 Z"
								style="fill:#000000;"
							></path>
							<path
								d="M19.385,9.556 C18.872,9.556 18.465,9.964 18.465,10.477 C18.465,10.989 18.872,11.396 19.385,11.396 C19.898,11.396 20.306,10.989 20.306,10.477 C20.306,9.964 19.897,9.556 19.385,9.556 L19.385,9.556 Z"
								style="fill:#000000;"
							></path>
							<path
								d="M15.002,0.15 C6.798,0.15 0.149,6.797 0.149,15 C0.149,23.201 6.798,29.85 15.002,29.85 C23.201,29.85 29.852,23.202 29.852,15 C29.852,6.797 23.201,0.15 15.002,0.15 L15.002,0.15 Z M22.666,18.265 C22.666,20.688 20.687,22.666 18.25,22.666 L11.75,22.666 C9.312,22.666 7.333,20.687 7.333,18.28 L7.333,11.734 C7.333,9.312 9.311,7.334 11.75,7.334 L18.25,7.334 C20.688,7.334 22.666,9.312 22.666,11.734 L22.666,18.265 L22.666,18.265 Z"
								style="fill:#000000;"
							></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="additional-info container">
		<p class="additional-information">
			*Внимание, цены в иностранной валюте указаны справочно. Все расчеты осуществляются в белорусских рублях в соответствии с законодательством РБ.
			Информация размещенная на сайте не является публичной офертой в соответствии со ст.407 гражданского кодекса РБ и носит справочный характер.
		</p>
	</section>
</main>
