<section class="house-description container" id="technologies">
	<div class="u-center-text u-margin-bottom-big">
		<h2 class="heading-secondary">
			{{ 'TECHNOLOGIES.TITLE' | translate }}
		</h2>
	</div>

	<div class="main-boxes">
		<app-technology *ngFor="let tech of TECHNOLOGIES" [technology]="tech"></app-technology>
	</div>
</section>
