<div [id]="advantage.anchor" class="feature">
	<div class="feature__composition">
		<img *ngFor="let img of advantage?.images; let i = index" [alt]="advantage.title + ' ' + i + 1" [src]="img" class="feature__composition__photo" />
	</div>
	<div class="feature__decription">
		<h3 class="heading-thirdly">{{ advantage?.title }}</h3>
		<ul class="feature__decription__list">
			<li *ngFor="let adv of advantage?.advantages">
				{{ adv }}
			</li>
		</ul>
	</div>
</div>
