<header class="header">
	<img [src]="HEADER_LOGO" alt="logo" class="header__logo" />
	<div class="navigation">
		<!--		TODO change label to span or button-->
		<label (click)="toggleMenu()" class="navigation__button" for="navi-toggle" id="navi-toggle">
			<span class="navigation__checkbox navigation__icon">&nbsp;</span>
		</label>

		<div class="navigation__background">&nbsp;</div>

		<nav
			#menu
			[ngClass]="{
				navigation__nav: true,
				'menu-open': isMenuOpen
			}"
		>
			<ul class="navigation__list">
				<li *ngFor="let element of HEADER_ELEMENTS" class="navigation__item">
					<a (click)="goToPageOrAnchor(element)" class="navigation__link">{{ element?.name | translate }}</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
