<section class="about-us" id="about">
	<div class="about">
		<div class="about__container">
			<div class="about__container--title">
				<h3 class="about__container--title--header">{{ 'ABOUT.TITLE' | translate }}</h3>
			</div>
			<div class="about__container--text">
				<p>{{ 'ABOUT.FIRST_PARAGRAPH' | translate }}</p>
				<p>{{ 'ABOUT.SECOND_PARAGRAPH' | translate }}</p>
				<p>{{ 'ABOUT.THIRD_PARAGRAPH' | translate }}</p>
			</div>
		</div>
	</div>
</section>
