<div class="main-points__items">
	<div class="main-points__items__decoration">
		<svg class="t820__checkmark" fill="#ffae00" style="width:45px; height:45px;" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z"
			></path>
			<path
				d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z"
			></path>
		</svg>
	</div>
	<div class="t820__textwrapper t-cell t-valign_top">
		<div class="main-points__items__title">
			{{ advantage?.title }}
		</div>
		<div class="main-points__items__text">
			{{ advantage?.description }}
		</div>
	</div>
</div>
