// Переписано без размеров

.btn {
	cursor: pointer;
	&-margin {
		margin-top: 6 * $base-indent;
	}
	&--size-small {
		padding: #{$base-indent*1.2} #{$base-indent*2.4} #{$base-indent*1.2};
	}
	&--white {
		background-color: transparent;
		color: $white-color;
		border: 0.1 * $base-indent solid $white-color;
		border-radius: 10 * $base-indent;
		&-second {
			border: 4px solid $white-color;
			border-radius: 0px;
			font-family: $main-font;
			font-size: 1.4 * $base-indent !important;
			text-transform: uppercase;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
			text-align: center;
			&:hover {
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
				-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out,
					box-shadow 0.2s ease-in-out;
				transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			}
		}
		&-rounded {
			-webkit-transition: background-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out;
			max-width: $base-indent*20;
			border: 1px solid $white-color;
			padding: $base-indent*1.5 $base-indent*3;
			@include border-radius(#{$base-indent*3});
			background: rgba(0,0,0,0.4);

			&:hover,
			&:visited {
				background-color: $white-color;
				color: $black-color;
			}

			&:active {
				box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
			}
		}
	}
	&:link,
	&:visited {
		text-decoration: none;
		padding: 1.2 * $base-indent 3 * $base-indent;
		display: inline-block;
		transition: all 0.2s;
		font-size: 1.6 * $base-indent;
		font-weight: bold;
		cursor: pointer;

		&--hidden {
			opacity: 0;
		}
	}
}

.user-btn {
	background: rgb(64, 215, 75);
	border: none;
	outline: none;
	color: white;
	width: 60%;
	font-size: $base-indent*1.8;
	min-width: $base-indent*12;
	padding: #{$base-indent} #{$base-indent*3};
}
