.breadcrumbs-navigation {
	position: relative;
	cursor: pointer;
	font-size: $base-indent*1.2;
	line-height: 1.55;
	font-family: $main-font;
	font-weight: 300;
	color: $black-color;
	padding-right: $base-indent*1.5;
	&:after {
		content: '>';
		position: absolute;
		right: 0;
	}
	&:hover {
		opacity: 0.7;
	}
}
