@font-face {
	font-family: 'BebasNeueRegular';
	src: url('~src/assets/fonts/new/BebasNeue-Regular.otf') format('otf'), url('~src/assets/fonts/new/BebasNeue-Regular.ttf') format('ttf'),
		url('~src/assets/fonts/new/BebasNeue-Regular.woff') format('woff');
}
