/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 1200px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-points {
		justify-content: center;
	}
	.additional-information {
		width: 80%;
		max-width: 121.8*$base-indent;
		margin: 0 auto;
		@include small-paddings;
	}
	.about__container {
		max-width: 620px;
	}
}

@media only screen and (max-width: 768px) {
	.main {
		.header {
			&__text-box {
				width: 80%;
			}
		}
	}
	.header {
		flex-direction: column;
		align-items: center;

		.header {
			width: 80%;
			margin: 0 auto;
			max-width: 115*$base-indent;
		}

		.header__text-box {
			width: 50%;
		}
	}
	.feature {
		flex-direction: column;
		&__composition {
			@include small-paddings;
			@include small-margins;
		}
		&__decription {
			&__list {
				li {
					font-size: 1.6 * $base-indent;
					line-height: 1.45;
				}
			}
		}
	}

	.main-points {
		padding-left: 1 * $base-indent;
		padding-right: 1 * $base-indent;
		&__items {
			&__title {
				font-size: 1.6 * $base-indent;
				line-height: 1.45;
			}
			&__text {
				font-size: 1.4 * $base-indent;
				line-height: 1.45;
			}
		}
	}

	.partners {
		flex-direction: column;
		@include small-paddings;
		&__description {
			padding-left: 0;
			text-align: center;
		}
	}

	.additional-information {
		@include small-paddings;
	}

	.heading-secondary {
		font-size: 3 * $base-indent;
	}
	.heading-thirdly {
		font-size: 3 * $base-indent;
		width: 100%;
	}

	.heading-forthly {
		font-size: 3 * $base-indent;
	}

	.contacts {
		&--text {
			font-size: 2 * $base-indent;
		}
	}

	.about {
		padding: 4*$base-indent 2*$base-indent;
		&__container {
			&__container--title {
				&--text {
					margin-top: 3.1*$base-indent;
				}
			}
		}
	}

	.main-advertisment {
		&__background {
			height: 65 * $base-indent;
			&--title {
				&--text {
					font-size: 3.2 * $base-indent;
				}
			}
		}
	}

	.about {
		padding: 4 * $base-indent 2 * $base-indent;

		&__container {
			padding: 3 * $base-indent 2 * $base-indent 3.5 * $base-indent;

			&--text {
				margin-top: 3.1 * $base-indent;

				p {
					font-size: 1.6 * $base-indent;
				}
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-points {
		justify-content: center;
	}
	.additional-information {
		width: 80%;
		max-width: 121.8 * $base-indent;
		margin: 0 auto;
		@include small-paddings;
	}
	.main-wrapper {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.gallery-wrapper {
		max-width: 100%;
	}

	.project-detail {
		width: 100%;
		float: none;
	}
}

@media (max-width: 767px) {
	.user-btn {
		width: 100%;
		padding: #{$base-indent*2} #{$base-indent*3};
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.additional-information {
		width: 80%;
		margin: 0 auto;
		@include small-paddings;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.main-advertisment {
		&__background {
			height: 45 * $base-indent;
		}
	}
	.additional-information {
		width: 80%;
		margin: 0 auto;
		@include small-paddings;
	}

	.about {
		padding: 4 * $base-indent 2 * $base-indent;

		&__container {
			padding: 3 * $base-indent 2 * $base-indent 3.5 * $base-indent;

			&--text {
				margin-top: 3.1 * $base-indent;

				p {
					font-size: 1.6 * $base-indent;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.main-boxes {
		justify-content: space-between;
	}
}
