$default-font: 'Lato', sans-serif;
$main-font: 'Montserrat', Arial, sans-serif;
$secondary-font: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
$default-color: #777;
$lightgray: #bdbdbd;
$black-color: #000;
$color-black: #000;
$white-color: #fff;
$primary-color: #e6a52b;
$semanthic-border: #d69233;
$link-color: #25594f;
$header-width: 80%;

$base-indent: 10px;
$base-img-url: '~src/assets/img';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	// This defines what 1*$base-indent is
	font-size: 62.5%; //1 *$base-indent = 10px; 10px/16px = 62.5%
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: $default-font;
	font-weight: 400;
	line-height: 1.7;
	color: $default-color;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a {
	list-style: none;
	text-decoration: none;
}

main {
	flex: 1 0 auto;
}

.u-center-text {
	text-align: center;
}

.u-margin-bottom-big {
	margin-bottom: 9 * $base-indent;
}

.container {
	max-width: 120 * $base-indent;
	margin: 0 auto;
}
