@import '~src/assets/css/settings';
@import '~src/assets/css/fonts';
@import '~src/assets/css/utility';
@import '~src/assets/css/typography';

.header {
	&__logo {
		max-width: $base-indent * 35;
		max-height: $base-indent*6.4;
		margin: 0;
	}
}

.main {
	min-height: 100vh;
	background-image: url($base-img-url+'/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.header {

		&__burger {
			position: absolute;
			right: $base-indent * 4;
			top: $base-indent * 4;
			width: $base-indent * 2.6;
			height: $base-indent * 1.6;
			@include transition-duration(0.3s);
			display: inline-block;
			cursor: pointer;
			padding: $base-indent * 1.4;
			z-index: 2;
		}

		&__main--nav {
			margin-top: $base-indent/2;
			list-style: none;
		}

		&__main--nav a {
			padding: $base-indent $base-indent * 1.5;
			text-transform: capitalize;
			text-align: center;
			display: block;
			color: $primary-color;
			font-weight: 600;
			font-size: $base-indent * 2;
		}

		&__text-box {
			width: 50%;
			margin: $base-indent * 7 auto;
			text-align: center;
		}

		&__heading {
			&--primary {
				display: block;
				color: $white-color;
				font-family: $main-font;
				font-size: $base-indent * 4.2;
				font-weight: 800;
				line-height: $base-indent * 2.8;
			}

			&--secondary {
				display: block;
				color: $white-color;
				font-family: $main-font;
				font-size: $base-indent * 4.2;
				font-weight: 400;
				line-height: $base-indent * 4.2;
				padding: $base-indent;
			}

			&--third {
				display: block;
				color: $white-color;
				font-family: $main-font;
				font-size: $base-indent * 4.2;
				font-weight: 600;
				line-height: $base-indent * 4.2;
			}
		}
	}
}

.house-description {
	padding-top: $base-indent * 8;
	background-color: $white-color;
}

.heading {
	color: $black-color;
	font-family: $secondary-font;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	padding-bottom: $base-indent * 4;
	&-secondary {
		@extend .heading;
		font-size: $base-indent * 7.2;
		line-height: 7.2 * $base-indent;
		padding-bottom: 0;
	}
	&-thirdly {
		@extend .heading;
		font-size: 4.2 * $base-indent;
		line-height: 1.23;
		width: $header-width;
	}
	&-forthly {
		@extend .heading;
		font-size: 5.2 * $base-indent;
		line-height: 1.23;
	}
	&-smaller {
		@extend .heading;
		font-size: 2.4 * $base-indent;
		font-family: $main-font;
		line-height: 1.5;
		text-transform: initial;
	}
}

.main-boxes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

	&__feature {
		position: relative;
		width: 36 * $base-indent; //how to overcome this? did i fix? need some help
		height: 37 * $base-indent;
		margin-top: 1 * $base-indent;
		color: $white-color;
		font-family: $main-font;
		font-weight: 500;
		font-size: 2 * $base-indent;
		text-align: center;
		line-height: 1.35;
		display: flex;
		flex-flow: column wrap;
		//justify-content: space-around;
		justify-content: center;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		& > *{
			margin-bottom: $base-indent*1.5;
		}

		&__text {
			@include small-paddings;
		}

		&__price {
			font-size: 2.6 * $base-indent;
			font-weight: 600;
			font-style: italic;
		}

		&__button {
			position: absolute;
			bottom: $base-indent*4;
			left: 0;
			right: 0;
			text-align: center;
			justify-content: center;
			flex-flow: column wrap;
			@include transition(all ease-in-out 0.2s);
			margin: 0 auto;
		}

		//выравниваение описания
		&.text-bottom{
			justify-content: flex-end;
			padding-bottom: $base-indent*4;
			.shadow-background {
				padding: #{$base-indent/2} 0;
				background: rgba(0,0,0,0.4);
			}
		}
	}
}

.main-advantages {
	@include main-components;
}

.our-advantages {
	@include main-components;
}

.our-projects {
	@include main-components;
}

.our-partners {
	@include main-components;
}

.our-contacts {
	@include main-components;
}

.additional-info {
	width: 80%;
	@include main-components;
}

.feature {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2 * $base-indent; // todo make it ok
	&:last-of-type {
		padding-top: 13.5 * $base-indent;
	}

	&__composition {
		flex: 0 0 55%;

		&__photo {
			width: 100%;
			height: auto;
		}

		&__photo-1 {
			width: 130%;
			height: 51 * $base-indent;
		}

		&__photo-2 {
			height: 24.2 * $base-indent;
		}
	}

	&__decription {
		align-self: flex-start;
		@include small-paddings;

		&__list {
			padding-left: 2 * $base-indent;
			margin-top: 0;
			margin-bottom: 1 * $base-indent;

			li {
				font-family: $main-font;
				font-weight: 300;
				font-size: 2 * $base-indent;
				line-height: 1.55;
				color: $black-color;
			}
		}
	}
}

.about {
	background-image: url($base-img-url+'/about_background.jpg');
	background-size: cover;
	background-color: $white-color;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	position: relative;
	background-attachment: fixed;
	padding: 10 * $base-indent 0;

	&__container {
		display: flex;
		flex-flow: column wrap;
		align-content: center;
		background-color: $white-color;
		padding: 8 * $base-indent 8.6 * $base-indent 8.5 * $base-indent;
		max-width: 76 * $base-indent;
		margin: 0 auto;

		&--title {
			position: relative;

			&--header {
				font-size: 5.2 * $base-indent;
				font-family: $secondary-font;
				font-weight: 500;
				line-height: 1.23;
				text-transform: uppercase;
				text-align: center;
				color: $black-color;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					height: 0.3 * $base-indent;
					background: black;
					right: 0;
					margin: 0 auto;
					top: 8 * $base-indent;
					max-width: 10 * $base-indent;
				}
			}
		}

		&--text {
			margin-top: 3.1 * $base-indent;

			p {
				font-size: 2 * $base-indent;
				line-height: 1.55;
				font-family: $main-font;
				font-weight: 300;
				color: $black-color;
				padding: 1.2 * $base-indent 0;
			}
		}
	}
}

.main-advertisment {
	position: relative;

	&__background {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: -webkit-linear-gradient(rgba(230, 165, 43, 0.3), rgba(0, 0, 0, 0.3)),
			url(https://static.tildacdn.com/tild3461-6437-4464-b836-646337336330/-106399.jpg);
		height: 75 * $base-indent;
		position: relative;

		&--title {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;

			&--text {
				font-size: 5.2 * $base-indent;
				font-family: $secondary-font;
				font-weight: normal;
				line-height: 1.23;
				text-transform: uppercase;
				text-align: center;
				color: $white-color;
				margin: 0 auto;
				padding-bottom: 4 * $base-indent;
			}
		}
	}
}

.partners {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
	max-width: 76 * $base-indent;

	&__description {
		padding-left: 8 * $base-indent;

		&--text {
			line-height: 2.2 * $base-indent;
			font-size: 1.8 * $base-indent;
			font-family: $main-font;
			color: $black-color;

			a {
				color: $link-color;
				font-weight: 600;
			}
		}

		&--title {
			margin-bottom: 1.8 * $base-indent;
			font-size: 2.4 * $base-indent;
			line-height: 1.35;
			font-family: $main-font;
			font-weight: 600;
			color: $black-color;
		}
	}

	ul li {
		list-style: none;
		line-height: 2.2 * $base-indent;
		font-size: 1.8 * $base-indent;
		font-family: $main-font;
		color: $black-color;
	}

	li:before {
		content: '- ';
	}
}

.contacts {
	margin-bottom: 4.5 * $base-indent;
	margin-top: 4.5 * $base-indent;

	&--text {
		font-family: $main-font;
		font-weight: 600;
		font-size: 2.4 * $base-indent;
		line-height: 1.23;
		text-align: center;
		color: $black-color;

		a {
			color: $black-color;
		}

		a:focus {
			background-color: #e6a52b;
			color: $black-color;
		}
	}

	&__socials {
		text-align: center;

		&--title {
			font-size: 1.8 * $base-indent;
			line-height: 1.55;
			font-family: $main-font;
			font-weight: 300;
			color: $black-color;
		}

		&__links {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 4 * $base-indent;

			&--item {
				margin: 0 0.4 * $base-indent;
			}
		}
	}
}

.additional-information {
	margin: 0 auto;
	text-align: center;
	font-family: $main-font;
	font-size: 1.4 * $base-indent;
	color: $black-color;
	opacity: 0.7;
}

.footer {
	flex-shrink: 0;
	padding: 2 * $base-indent 0;
	font-size: 1.4 * $base-indent;
	text-align: center;
	color: $default-color;
}

.main-points {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	&__items {
		display: flex;
		align-items: flex-start;
		max-width: 56 * $base-indent;
		padding-bottom: 4 * $base-indent;

		&:not(:last-child) {
			// why doesn't work it?
			padding-bottom: 4 * $base-indent;
		}

		&__decoration {
			padding: 1 * $base-indent;
		}

		&__title {
			font-family: $main-font;
			font-weight: 600;
			font-size: 2 * $base-indent;
			color: $black-color;
			line-height: 2.6 * $base-indent;
			text-align: left;
			margin-bottom: 1.4 * $base-indent;
		}

		&__text {
			font-family: $main-font;
			font-weight: 300;
			font-size: 1.8 * $base-indent;
			line-height: 1.55;
		}
	}
}

.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		background-color: $white-color;
		height: 7 * $base-indent;
		width: 7 * $base-indent;
		position: fixed;
		top: 10 * $base-indent;
		right: 6 * $base-indent;
		border-radius: 50%;
		z-index: 2000;
		text-align: center;
		cursor: pointer;
	}

	&__background {
		height: 6 * $base-indent;
		width: 6 * $base-indent;
		border-radius: 50%;
		position: fixed;
		top: 6.5 * $base-indent;
		right: 6.5 * $base-indent;
		z-index: 1000;
		@include transition(transform 0.8s cubic-bezier(0.86, 0, 0.07, 1));
	}

	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0;
		width: 0;
		z-index: 1500;
		background-color: $white-color;
		@include transition(all 0.6s cubic-bezier(0.82, -0.2, 0, 1.33));
	}

	.menu-open {
		opacity: 1;
		width: 50%;
	}

	&__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		font-family: $secondary-font;
		color: $primary-color;
		font-size: 3 * $base-indent;
		font-weight: 400;
		text-align: center;
		width: 100%;
	}

	&__item {
		margin: 2 * $base-indent;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 3 * $base-indent;
			font-weight: 300;
			font-family: $secondary-font;
			color: $primary-color;
			text-decoration: none;
			text-transform: uppercase;
			background-size: 220%;
			@include transition(all 0.4s);

			span {
				margin-right: 1.5 * $base-indent;
				display: inline-block;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $primary-color;
			@include transform(translateX(1 * $base-indent));
		}
	}

	&__checkbox:checked ~ &__background {
		@include transform(scale(80));
	}

	&__icon {
		position: relative;
		margin-top: 3.5 * $base-indent;

		&,
		&::before,
		&::after {
			width: 3 * $base-indent;
			height: 3px;
			display: inline-block;
			background-color: $primary-color;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			@include transition(all 0.2s);
		}

		&::before {
			top: -0.8 * $base-indent;
		}

		&::after {
			top: 0.8 * $base-indent;
		}
	}

	&__button:hover &__icon::before {
		top: -1 * $base-indent;
	}

	&__button:hover &__icon::after {
		top: 1 * $base-indent;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		@include transform(rotate(135deg));
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		@include transform(rotate(-135deg));
	}
}

.description-block {
	padding-bottom: $base-indent*7.5;
}

.basic-description {
	font-family: $main-font;
	font-size: $base-indent*2.2;
	line-height: 1.55;
	color: $black-color;
	&--semanthic-border {
		background-color: $semanthic-border;
		width: $base-indent*12;
		height: $base-indent*0.4;
		margin-bottom: $base-indent*1.4;
	}
}

.breadcrumbs {
	height: $base-indent*5;
	display: flex;
	align-items: center;
}

.cursor {
	cursor: pointer;
}

.gallery-wrapper {
	max-width: calc(50% - #{$base-indent});
}

.project-detail {
	color: $black-color;
	font-family: $main-font;
	padding: $base-indent*2;
	li {
		list-style-type: none;
	}
	&--heading {
		font-size: $base-indent*2.4;
		&:after {
			content: '';
			display: block;
			margin-top: $base-indent*2;
			width: $base-indent*8;
			height: 2.5px;
			background-color: $black-color;
		}
	}
	&--content {
		margin-top: $base-indent*3;
		font-size: $base-indent*1.6;
	}
	&--footer {
		margin-top: $base-indent*2;
	}
	&--cost-block {
		margin-left: -#{$base-indent*2};
		margin-right: -#{$base-indent*2};
		padding: 0 #{$base-indent*2};
		background: $black-color;
		color: $white-color;
		font-size: $base-indent*2.4;
		margin-top: $base-indent*2;
		.cost {
			display: block;
			font-size: $base-indent*2.6;
			font-style: italic;
			&-text {
				font-size: $base-indent*1.6;
				color: $lightgray;
			}
		}
	}
}

// todo do smth with it
.-new {
	&:after {
		content: '(NEW!)';
		margin-left: 3px;
		position: absolute;
	}
}



