.margin-bottom-middle {
	margin-bottom: $base-indent*4;
}

.margin-left-small {
	margin-left: $base-indent;
}

.margin-right-small {
	margin-right: $base-indent;
}

.half-width {
	width: 50%;
}

.-float-right {
	float: right;
}

.-float-left {
	float: left;
}
