<section class="container main-wrapper">
	<div class="breadcrumbs">
		<a class="breadcrumbs-navigation" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</a>
	</div>
	<div class="">
		<ngx-gallery [images]="item.images" [options]="galleryOptions" class="gallery-wrapper margin-right-small"></ngx-gallery>
		<div class="half-width -float-right project-detail" style="background: rgb(239, 239, 239)">
			<h2 class="project-detail--heading">{{ item.heading }}</h2>
			<div class="project-detail--content">
				<ul>
					<li *ngFor="let descriptionItem of item.descriptionList">
						{{ descriptionItem }}
					</li>
				</ul>

				<div class="project-detail--cost-block">
					<span class="cost-text">{{ item.costText }}</span>
					<span class="cost">{{ item.cost }}</span>
				</div>
				<div class="project-detail--footer">
					<button class="user-btn" (click)="openConsultingForm()" *ngIf="item.hasConsultingButton">
						{{ 'PROJECT.GET_CONSULTING' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
