<!-- <ngx-spinner
		bdColor="rgba(51,51,51,0.8)"
		color="#fff"
		size="medium"
		type="ball-scale-multiple">
		<p style="font-size: 20px; color: white">{{'COMMON.LOADING' | translate}}</p>
	</ngx-spinner> -->
<app-header></app-header>

<router-outlet></router-outlet>

<footer class="footer">
	<p>{{ 'FOOTER.TEXT' | translate }}</p>
</footer>
