<div
	(mouseenter)="mouseEnter()"
	(mouseleave)="mouseLeave()"
	[ngStyle]="{ backgroundImage: '-webkit-linear-gradient(top, rgba(15, 15, 15, 0.4), rgba(0, 0, 0, 0.2)), url(' + technology?.img + ')' }"
	class="main-boxes__feature"
>
	<p [ngClass]="{ '-new': technology?.isNew }" class="main-boxes__feature__text">
		{{ technology?.name }}
	</p>
	<p class="main-boxes__feature__price">{{ technology?.price }}</p>

	<div class="main-boxes__feature__button">
		<a (click)="goToTechnology(technology)" class="btn btn--white-rounded">{{ 'COMMON.DETAILS' | translate }}</a>
	</div>
</div>
