<section class="container main-wrapper">
	<div class="breadcrumbs">
		<a class="breadcrumbs-navigation" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</a>
	</div>
	<div class="main-boxes margin-bottom-middle cursor">
		<a (click)="goToProjectPage(project)" *ngFor="let project of projects">
			<div
				class="main-boxes__feature text-bottom"
				[ngStyle]="{ backgroundImage: '-webkit-linear-gradient(top, rgba(15, 15, 15, 0.4), rgba(0, 0, 0, 0.2)), url(' + project?.img + ')' }"
			>
				<h3 class="shadow-background">{{ project.title }}</h3>
			</div>
		</a>
	</div>
	<div class="description-block">
		<div class="basic-description--semanthic-border"></div>
		<div class="basic-description">
			<p>
				Вам понравился проект каркасного дома, но Вы желаете построить его по технологии деревянного монолитного дома - не проблема!
				<br />
				Наша компания реализует строительство по выбранной Вами технологии, подготовит 3D модель и всю необходимую документацию.
			</p>
		</div>
	</div>
</section>
